﻿
@{
    ViewBag.Title = "CreateMinuta";
}



<div class="container-fluid shadow overflow-auto">
    <form method="POST" action="" id="formCreateMinuta" class="needs-validation" novalidate style="padding:50px;width: 85%;">
        <div class="form-row" id="rowMinutaTemporales">
            <div class="form-group col-md-12">
                <label class="col-12" for="Cliente">Minutas Incompletas</label>
                @Html.DropDownList("MinutasTemporales", null, new { @class = "form-control col-8 select-normal ", @id = "MinutaTemporalList" })
            </div>

        </div>
        <br />
        <hr class="bg-black left" style=" box-shadow: 2px 1px 6px #000;" />
        <br />
        <div class="form-row">

            <div class="form-group col-md-6">
                <label class="col-12" for="Cliente">*Entidad</label>
                @*<input type="hidden" name="Cliente" id="idClienteM" value="" />*@
                <input type="hidden" name="Cliente" id="Select2HiddenCliente" value="" />
                <select id="ClienteM" class="form-control col-10 SelectClienteM required">
                    <option></option>
                </select>
                @*<input type="text" class="form-control col-10 required" id="ClienteM" name="" onkeypress="return pulsar(event)" placeholder="Buscar..." autocomplete="off">*@
                @*<ul id="result_ClienteM" class="list-group" style="position:absolute;max-height:350px;z-index:1;width:415px; overflow:auto"></ul>*@
            </div>
            <div class="form-group col-md-6">
                <label class="" for="Contacto">*Contacto</label>
                <input class="form-control col-10 required" id="Contacto" onkeypress="return /[a-z, ]/i.test(event.key)" @*onkeypress="pulsar(event)"*@ name="Contacto" />
            </div>
        </div>
        <div class="form-row">

            <div class="form-group col-md-6">
                <label class="" for="idPrioridad">*Prioridad</label>
                <select class="form-control select-normal col-10 required" style="font-weight:bold" onblur="" id="idPrioridad" name="Prioridad">
                    <option value="Alta">Alta</option>
                    <option value="Media">Media</option>
                    <option value="Baja">Baja</option>
                </select>
            </div>
        </div>
        <br />
        <hr class="bg-black left" style=" box-shadow: 2px 1px 6px #000;" />
        <br />
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="" for="Fecha">*Fecha Reunión</label>
                <input type="date" class="form-control datepickerhtml col-6 required" id="Fecha" name="Fecha" onkeypress="return pulsar(event)" onblur="validDateTime(this.value,this)" placeholder="">
            </div>
            <div class="form-group col-md-6">
                <label class="" for="idComentarioCierre">*Motivo Reunión</label>
                <input type="text" class="form-control col-10 required" onkeypress="return pulsar(event)" id="MotivoReunion" name="MotivoReunion" value="" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group  col-md-6">
                <label for="lugar">*Lugar</label>
                <textarea id="lugar" class="form-control col-md-10 required" onblur=""></textarea>
            </div>
        </div>
        <br />
        <hr class="bg-black left" style=" box-shadow: 2px 1px 6px #000;" />
        <br />
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="Asistentes">*Asistentes</label>
                <select id="AsistentesList" class="AsistentesMselect2 form-control required" onkeypress="return pulsar(event)" multiple="multiple" data-id="buscador" data-placeholder="Selecione los asistentes" style="width: 100%;"></select>
            </div>
            <div class="form-group col-md-5">
                <label for="AsistenteExt">Asistentes Externos</label>
                <input id="AsistenteExt" class="form-control" @*onkeypress="return pulsar(event)"*@ onkeypress="return /[a-z, ]/i.test(event.key)" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="Asistentes">*Resumen</label>
                <textarea id="Resumen" class="form-control required tynemce" onblur="" style="max-width: 100%;height:200px"></textarea>
            </div>
        </div>

        <div class="form-row ">
            <div class="col-md-12">
                <label for="Asistentes">*Asignado a</label>
            </div>
            <div class="input-group col-6">
                <select id="Asignado" class="form-control col-10 selectAsignado">
                    <option></option>
                </select>


                <span class="input-group-btn" style="width:0;">

                    <button class="btnmore btn btn-success" name="btnmore" id="AddAsistente" type="button" style="margin-left:10px">Agregar</button>
                </span>
            </div>
        </div>
        &nbsp;
        <div class="form-row ">
            <table class=" table table-striped table-bordered nowrap" id="idTableCreacionMinuta" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Asignado a
                        </th>
                        <th>
                            Tarea
                        </th>
                        <th>
                            Acuerdos
                        </th>
                        <th>
                            Recomendaciones
                        </th>
                        <th>
                            Fecha de Entrega
                        </th>
                        <th>
                            ...
                        </th>
                    </tr>
                </thead>
                <tbody name="tablacuerpo" id="maintable" class="cuerpo">
                    @*<tr id="add-1">*@

                    @*<td>
                            <textarea class="form-control required" type="text" name="Tarea" id="idTarea"></textarea>
                        </td>
                        <td>
                            <textarea class="form-control" type="text" name="Acuerdo" id="idAcuerdo"></textarea>
                        </td>
                        <td>
                            <textarea class="form-control" type="text" name="Recomendacion" id="idRecomendacion"></textarea>
                        </td>
                        <td>
                            <input type="date" class="form-control datepickerhtml col-12 required" id="FechaEntrega" name="FechaEntrega" onkeypress="return pulsar(event)" onblur="validDateTime(this.value,this)" placeholder="">
                        </td>
                        <td>
                            <button class='btn btn-danger' name='' onclick="" id='btndelete' type='button'>X</button>
                        </td>*@
                    @*</tr>*@
                </tbody>
            </table>

            &nbsp;
        </div>
        <!--/tabla-->
        <div class="bg-dark">
            <button class="btn btn-success btnfloat" type="button"
                    style="

            position: fixed;
             width:100px;
            bottom: 50%;
            right: 40px;
            text-align: center;
            box-shadow: 2px 2px 3px #999;" id="guardarMinuta">
                Guardar
            </button>
            <a class="btn btn-info btnfloat" href="#"
               style="
            position: fixed;
            width:100px;
            bottom: 42%;
            right: 40px;
            text-align: center;
            box-shadow: 2px 2px 3px #999;" onclick="CleanForms('formCrearVisita')">Limpiar</a>
            <a class="btn btn-primary btnfloat" id="volverCreateM"
               style="
            position: fixed;
             width:100px;
            bottom: 34%;
            right: 40px;
            text-align: center;
            box-shadow: 2px 2px 3px #999;">Volver</a>
        </div>
    </form>

    <!---tabla de alexander-->
</div>

<style>
    .myFont {
        font-weight: bold;
    }
</style>

@section Scripts{
    <script>

        $(document).ready(function (){
            var name = GetParameterValues('Name');
            var id = GetParameterValues('ID');
            var idVisita = GetParameterValues('IdVisita');
            var Contacto = GetParameterValues('Contacto');
            if (idVisita !== undefined) {

                //var newOption = new Option(decodeURIComponent(name), id, true, true);
                //$('#ClienteM').append(newOption).trigger('change');
                //$('#Contacto').val(Contacto);
                GetDataVisitaDetail(idVisita)

            }
            GetDataVisitaDetail()
            function GetParameterValues(param) {
                var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < url.length; i++) {
                    var urlparam = url[i].split('=');
                    if (urlparam[0] == param) {
                        return urlparam[1];
                    }
                }
            }


$("#volverCreateM").click(function(){
window.location.href = "@Url.Action("IndexMinuta", "Minuta")";
});

        });


        $('.select2').select2()


        $('#guardarMinuta').on('click', function (e) {
            var forms = document.getElementsByClassName('needs-validation')[0]
            e.preventDefault();
            if (validationForm(forms) === true) {
                CreateMinuta();
            }
        });

        function fillDataMinutaFromVisita(id) {
            var param = {
                IdVisita: parseInt(id)
            };

            $.ajax({
                url: "GetDataMinutaFromVisita", // Url
                type: "POST", // Verbo HTTP
                data: id
            })
                // Se ejecuta si todo fue bien.
                .done(function (result) {

                    eval(result);
                })
                // Se ejecuta si se produjo un error.
                .fail(function (xhr, status, error) {

                })
                // Hacer algo siempre, haya sido exitosa o no.
                .always(function () {

                });
        }


function GetDataVisitaDetail() {

    $.ajax({
        type: 'GET',
        url: '@Url.Action("GetDataMinutaFromVisita")',
        dataType: 'json',
        success: function (data) {
            $.each(data[0], function (index, value) {
                format = function date2str(x, y) {
                    var z = {
                        M: x.getMonth() + 1,
                        d: x.getDate(),
                        h: x.getHours(),
                        m: x.getMinutes(),
                        s: x.getSeconds()
                    };
                    y = y.replace(/(M+|d+|h+|m+|s+)/g, function (v) {
                        return ((v.length > 1 ? "0" : "") + eval('z.' + v.slice(-1))).slice(-2)
                    });

                    return y.replace(/(y+)/g, function (v) {
                        return x.getFullYear().toString().slice(-v.length)
                    });
                };
                var newOption = new Option(decodeURIComponent(value.Nombre), value.IdCliente, true, true);
                $('#ClienteM').append(newOption).trigger('change').attr("disabled","disabled");
                $('#Contacto').val(value.Contacto).attr("disabled","disabled");
                date = format(new Date(value.Fecha), 'yyyy-MM-dd');
                $('#Fecha').val(date).attr("disabled","disabled");
                $('#MotivoReunion').val(value.Motivo).attr("disabled","disabled");
                $('#lugar').text(value.Direccion).attr("disabled", "disabled");
                $('#rowMinutaTemporales').hide();
            });


        },
        error: function (ex) {
            var r = jQuery.parseJSON(response.responseText);
            alert("Message: " + r.Message);
            alert("StackTrace: " + r.StackTrace);
            alert("ExceptionType: " + r.ExceptionType);
        }

    });
    return false;
        }

        function CreateMinuta() {

            var objectTable = [];
            var filas = document.querySelectorAll("#idTableCreacionMinuta tbody tr");
            var columnas;

            if (filas.length !== 0) {
                filas.forEach(function (e) {
                    columnas = e.querySelectorAll("td");

                    var obj = {
                        IdAsignado: columnas[0].firstElementChild.defaultValue,
                        Tarea: columnas[1].firstElementChild.value,
                        Acuerdo: columnas[2].firstElementChild.value,
                        Recomendacion: columnas[3].firstElementChild.value,
                        Fecha_Entrega: columnas[4].firstElementChild.value
                    };

                    objectTable.push(obj);
                    console.log(objectTable);
                });
            }

            var AsistentesExt = $("#AsistenteExt").val().split(",");
            var Asistentes = $("#AsistentesList").val();

            for (var i = 0; i < AsistentesExt.length; i++) {
                Asistentes.push(AsistentesExt[i]);
            }

            var ModelMinuta = new Object();

            ModelMinuta.IdPersona = $("#ClienteM option:selected").val(),
                ModelMinuta.Contacto = $("#Contacto").val(),
                ModelMinuta.Fecha = $("#Fecha").val(),
                ModelMinuta.MotivoReunion = $("#MotivoReunion").val(),
                ModelMinuta.Prioridad = $("#idPrioridad").val(),
                ModelMinuta.Lugar = $("#lugar").val(),
                ModelMinuta.Asistente = Asistentes,
                ModelMinuta.Asignaciones = objectTable,
                ModelMinuta.Resumen = tinymce.get('Resumen').getContent(),
                ModelMinuta.IdMinutaTemporal = $("#MinutaTemporalList option:selected").val();



            $.ajax({
                type: 'POST',
                url: 'SaveMinuta',
                async: false,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(ModelMinuta),
                processData: false,
                success: function (data) {

                    if (data === '1') {
                        Swal.fire(
                            'Minuta creada correctamente',
                            'Click aqui↓',
                            'success'
                        ).then(function () {
                            location.reload();
                        });

                    } else if (data === '0') {
                        Swal.fire(
                            'Ocurrio un error, favor comunicarse con soporte tecnico',
                            'Click aqui↓',
                            'error'
                        );
                    }
                }, error: function (exception) {
                    alert('Exeption:' + exception);
                    $('#submit').val('Save');
                }

            });
        }


    </script>
}