﻿@model IEnumerable<SmartSys.Models.ViewModels.VMMinutaDatos>


@{
    ViewBag.Title = "IndexMinuta";
}

<div class="container-fluid">

    <div class="row">

        <div class="col-md-6">
            <div class="justify-content-start">
                <a id="btnCrearMinuta" href="CreateMinuta" class="btn btn-dark float-left"><i class="fas fa-folder-plus"></i> Crear Minuta</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="justify-content-end">
                <a href="/Home/Index" class="btn btn-primary float-right"><i class="fas fa-reply"></i> Volver</a>

            </div>
        </div>
    </div>
    &nbsp;
    <div class="">
        <table class="table table-striped table-bordered nowrap" id="idTableMinuta" style="width:100%">
            <thead>
                <tr>
                    <th>Minuta Num.</th>
                    <th>ID Visita</th>
                    <th>Entidad</th>
                    <th>Contacto</th>
                    <th>Motivo</th>
                    <th>Prioridad</th>
                    <th>Fecha</th>
                    <th>Lugar</th>
                    <th>Estado</th>
                    <th>...</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {





                    <tr>
                        <td>
                            @item.ID_Minuta
                        </td>
                        <td>
                            @item.IdVisita
                        </td>
                        <td>
                            @item.Cliente
                        </td>
                        <td>
                            @item.Contacto
                        </td>
                        <td>
                            @item.MotivoReunion
                        </td>
                        <td>
                            @item.Prioridad
                        </td>
                        <td>
                            @item.FechaReunion
                        </td>
                        <td>
                            @item.Lugar
                        </td>
                        @if (item.Condicion == "Completada")
                        {
                            <td style="color:green">
                                @item.Condicion
                            </td>
                        }
                        else
                        {
                            <td style="color:red">
                                @item.Condicion
                            </td>
                        }


                        <td>
                            <a onclick="SetDetailsMinuta(@item.ID_Minuta)" class="btn btn-warning">Detalle</a>
                        </td>

                    </tr>
                }
            </tbody>

        </table>
    </div>

    <div class="modal fade" id="ModalDetalleMinuta" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="ModalLabelDetalle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" style="max-width: 90%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabelDetalle">Detalle Minuta</h5>
                    <button type="button" class="close" id="closeModalDetalle" onclick="formModalControl(this.id)" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/" method="post" id="formDetalleMinuta">
                        <div class="container-fluid">

                            <div id="divBotonesDetalle" class="row justify-content-center">
                                <a href="#" id="CompletarAsignacion" onclick="formModalControl(this.id)" class="btn btn-primary">Completar Asignaciones</a>&nbsp;
                                <a href="#" id="EditarMinuta" onclick="formModalControl(this.id)" class="btn btn-dark">Editar Minuta</a>&nbsp;
                                <a href="#" id="Downloadpdf" onclick="modalcontent()" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-download"></span> Descargar pdf</a>

                                @*<div id="divBotonesDetalle" class="row justify-content-center">
            <a href="#" id="CompletarAsignacion" onclick="formModalControl()" class="btn btn-primary">Completar Asignaciones</a>&nbsp;

        </div>*@
                                &nbsp;
                            </div>
                            &nbsp;
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div hidden id="MinutaID"></div>
                                    <span for="Nombre_Cliente" class="sizaspan col-sm-auto col-form-label  text-black-100 rounded">Entidad:</span>
                                    <div class="col-sm-auto">
                                        <label id="Nombre_Cliente" class="form-control colorlbl"></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <span for="Contacto" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Contacto:</span>
                                    <div class="col-sm-auto">
                                        <label id="Contacto" class="form-control colorlbl"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span for="Fecha" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Fecha:</span>
                                    <div class="col-sm-auto">
                                        <label id="Fecha" class="form-control colorlbl"></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <span for="UsuarioCreador" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Usuario Creador:</span>
                                    <div class="col-sm-auto">
                                        <label id="UsuarioCreador" class="form-control colorlbl"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <span for="MotivoReunion" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Motivo de la Reunion:</span>
                                    <div class="col-sm-auto">
                                        <label id="MotivoReunion" class="form-control colorlbl"></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <span for="Lugar" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Lugar:</span>
                                    <div class="col-sm-auto">
                                        <textarea id="Lugar" class="form-control colorlbl col-12" ondblclick='ViewModal(this)' style="font-weight: bold;resize:none;overflow:scroll" data-toggle='tooltip' data-placement='top' title='Hacer doble click para visualizar el texto completo' readonly></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <span for="ResumenDetalle" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Resumen de la minuta:</span>
                                    <div class="col-sm-auto">
                                        <textarea id="ResumenDetalle" class="form-control colorlbl col-12 tynemce" ondblclick='ViewModal(this)' style="font-weight: bold;max-width: 100%;height:200px; resize:none;overflow:scroll" data-toggle='tooltip' data-placement='top' title='Hacer doble click para visualizar el texto completo' readonly></textarea>
                                    </div>
                                </div>
                                 
                            </div>
                            &nbsp;

                            <hr />
                            <span for="tableAsistentes" class="sizaspan col-sm-auto col-form-label  text-black-100 rounded">Asistentes:</span>
                            <div class="row" id="divAsistentes">
                                <div class="col-md-12 table-responsive">

                                    &nbsp;
                                    <table id="tableAsistentes" class="table table-bordered dataTables_scroll">
                                        <thead class="thead-light">
                                            <tr>
                                                <th onclick="sortTable(0,'tableAsistentes')">Asistente</th>
                                            </tr>
                                        </thead>
                                        <tbody id="asistentesList"></tbody>
                                    </table>
                                </div>
                            </div>
                            &nbsp;
                            <hr />
                            <span for="tableAsignaciones" class="sizaspan col-sm-auto col-form-label  text-black-100 rounded">Asignaciones:</span>
                            <div class="row" id="divAsignaciones">
                                <div class="col-md-12">
                                    @*<span for="dFechaCreacion" class="sizaspan col-sm-auto col-form-label  text-black-100 rounded">Integrantes:</span>*@
                                    &nbsp;
                                    <table id="tableAsignaciones" class="table table-bordered">
                                        <thead class="thead-light">
                                            <tr>

                                                <th>Num. De Asignacion</th>
                                                <th>Tarea</th>
                                                <th>Acuerdo</th>
                                                <th>Recomendacion</th>
                                                <th>Fecha Entrega</th>
                                            </tr>
                                        </thead>
                                        <tbody id="asignacionesList"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                      
                     
                    </form>

                    <form action="/" method="post" id="formCompletarAsignacion">
                        <div class="container-fluid">
                            <div class="row justify-content-end">
                                <a href="#" id="botonVolverCompAsign" class="btn btn-danger" onclick="formModalControl(this.id)">Cancelar</a>
                            </div>
                            &nbsp;
                            <div class="row" id="divAsistentes">
                                <div class="col-md-12">
                                    &nbsp;
                                    <table id="tableCompAsignaciones" class="table table-bordered">
                                        <thead class="thead-light">
                                            <tr>

                                                <th>Num. De Asignacion</th>
                                                <th>Tarea</th>
                                                <th>Acuerdo</th>
                                                <th>Recomendacion</th>
                                                <th>Fecha Entraga</th>
                                                <th>Estado</th>
                                                <th>...</th>
                                            </tr>
                                        </thead>
                                        <tbody id="asignacionesCompList"></tbody>
                                    </table>
                                    &nbsp;

                                </div>
                            </div>
                        </div>
                    </form>
                    <form action="" method="post" class="needs-validation" novalidate id="formEditarMinuta">
                        <input type="text" hidden name="ID_Minuta" id="idMinutaEditar" />
                        <div class="row justify-content-end">
                            <a href="#" id="botonVolverEditar" class="btn btn-danger" onclick="formModalControl(this.id)">Cancelar</a>
                        </div>
                        &nbsp;
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="ResumenEdit">*Resumen</label>
                                <textarea id="ResumenEdit" class="form-control required tynemce" onblur="" style="max-width: 100%;height:200px"></textarea>
                            </div>
                        </div>

                        <div class="form-row ">
                            <div class="col-md-12">
                                <label for="AsignadoEdit">*Asignado a</label>
                            </div>
                            <div class="input-group col-6">
                                <select id="AsignadoEdit" class="form-control col-10 selectAsignado">
                                    <option></option>
                                </select>


                                <span class="input-group-btn" style="width:0;">

                                    <button class="btnmore btn btn-dark" name="btnmore" id="AddAsistenteEdit" type="button" style="margin-left:10px">Agregar</button>
                                </span>
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-row ">
                            <table class=" table table-striped table-bordered nowrap" id="idTableCreacionMinutaEdit" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            Asignado a
                                        </th>
                                        <th>
                                            Tarea
                                        </th>
                                        <th>
                                            Acuerdos
                                        </th>
                                        <th>
                                            Recomendaciones
                                        </th>
                                        <th>
                                            Fecha de Entrega
                                        </th>
                                        <th>
                                            ...
                                        </th>
                                    </tr>
                                </thead>
                                <tbody name="tablacuerpo" id="maintableEdit" class="cuerpo"></tbody>
                            </table>
                        </div>
                        &nbsp;
                        <div>
                            <button type="submit" id="buttonSaveEditarM" class="btn btn-success col-md-12">Guardar Cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="ModalView" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" style="max-width: 80%; height: 100%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Vista Completa</h5>
                    <button type="button" class="closeVista" data-dismiss="modal" aria-label="closeVista">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea id="textView" style="resize: none; height:100%;border: 6px solid rgba(0, 0, 0, 0.05);position: relative;outline: 0px !important;" readonly class="col-12"></textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Completar Asigmacion-->
    <div class="modal fade" id="ModalCompAsignacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" style="max-width: 80%; height: 100%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Vista Completa</h5>
                    <button type="button" class="closeVista2" data-dismiss="modal" aria-label="closeVista2">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   
                </div>
            </div>
        </div>
    </div>
    <!-- ... -->
</div>
<style>
    .sizaspan {
        font-size: 20px;
    }

    .colorlbl {
        background-color: #dadee0;
        color: black;
    }

    .popover {
        z-index: 9000; /* A value higher than 1010 that solves the problem */
    }
    /*

    */

</style>

@section Scripts{
    <script>

     
        tinymce.init({
    selector: '#ResumenEdit',
    branding: false,
    menubar: 'edit'
        });
     

        $("#ModalDetalleMinuta").on("hidden.bs.modal", function () {           
            location.reload();
        });
     

        $("#idTableMinuta").DataTable({

            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
            }
        });

       
    </script>
}


   


        <div id="bodyelement" hidden>
            @*<div style="background-color:midnightblue ; height: 1.5em;"></div>*@
            
                
                    @*<div id="headercontent" class="rounded-circle" style="height: 8em; width: 8em; background-color:honeydew; margin-left: 1.5em;">
                        <img src="Plantilla\dist\img\Logo Ros.png" style='max-width: 8em;max-width: 8em; align-content: center; margin-top: 1.8em;'>
                    </div>*@
         
   


            <!--PRimera linea de elementos entidad y contacto-->
            <div id="Maincontent" class="form-group" style="margin-top: 1.5em; margin-left: 2.0em;">
                <form id="FormularioDetalles" style="margin-top: 1.5em; width: 50em;">
                    <dl>
                        <dt style="font-size:large;"><b>Entidad:</b></dt>
                        <dd style="color:darkblue" id="valorentidad"></dd>
                        <br />
                        <dt style="font-size:large;"><b>Fecha:</b></dt>
                        <dd style="color:darkblue" id="valorfecha"></dd>
                    </dl>
                    <hr />
                    <p style="font-size:large">Buenas,</p>

                    <p style="font-size:large">Puntos tocados en nuestro encuentro:</p>

                    
                </form>


            </div>
            </div>

        








