﻿@{
    ViewBag.Title = "Home Page";
}
<script>
     $("#modal").show();
</script>

<div class="container-fluid">

    <!-- Small boxes (Stat box) -->
    <div class="row">
        <!-- ./col -->
        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner" style="padding: 40px !important;">
                    <h4>Visita Ros<sup style="font-size: 20px"></sup></h4>

                    <p></p>
                    <p></p>
                </div>
                <div class="icon">
                    <i class="ion ion-calendar"></i>
                </div>
                <a href="/Visita/Index" class="small-box-footer">Entrar <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner" style="padding: 40px !important;">
                    <h4>Minutas Ros<sup style="font-size: 20px"></sup></h4>

                    <p></p>
                    <p></p>
                </div>
                <div class="icon">
                    <i class="ion ion-clipboard"></i>
                </div>
                <a href="/Minuta/IndexMinuta" class="small-box-footer">Entrar <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner" style="padding: 40px !important;">
                    <h4>Digitalización Ros</h4>

                    <p></p>
                    <p></p>
                </div>
                <div class="icon">
                    <i class="ion ion-folder"></i>
                </div>
                <a href="/Digitalizacion/IndexDig" class="small-box-footer">Entrar <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

    </div>

    <!-- graficos-->
    <div class="content">


    </div>
    <!-- Modal -->
    <div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <button type="button" hidden id="botonDetalle" class="btn btn-primary" data-toggle="modal" data-target="#detalleModal">
        Launch demo modal
    </button>
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row (main row) -->
</div><!-- /.container-fluid -->