﻿
@{
    ViewBag.Title = "RecuperarContraseña";
    Layout = null;
}

<script src="~/Plantilla/plugins/jquery/jquery.min.js"></script>
<link href="~/Content/LoginCSS.css" rel="stylesheet" />
<script src="~/Scripts/LoginScripts/LoginJS.js"></script>
<link href="~/Plantilla/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />
<script src="~/Plantilla/plugins/sweetalert2/sweetalert2.min.js"></script>
<style>
    .box {
        width: 60%;
        height: 100%;
        background: #FFF;
        margin: 40px auto;
        /* -webkit-box-shadow: 0 10px 6px -6px #777; */
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 9px 21px -2px #777;
    }
</style>

<div class="wrapper">
    <div class="container">
        <form id="formCorreo">
            <p>Favor digitar su correo electronico</p><br />
            <input type="email" id="txtCorreo" placeholder="Correo" />
            <button type="submit" id="correoButton" onclick="ValidMail()">Enviar</button>
            <div class="shadow">
                <p id="txtalertaToken" class="text-center shadow" style="margin-top:1em"></p>
            </div>
        </form>
        <form id="formToken">
            <p>Favor digitar el Token enviado a su correo electronico</p><br />
            <input type="text" id="txtToken" placeholder="Token" />
            <button type="submit" id="tokenButton">Validar</button>
            <div class="shadow">
                <p id="txtalerta" class="text-center shadow" style="margin-top:1em"></p>
            </div>
        </form>
        <form id="formClave">
            <p>Cambiar contraseña</p><br />
            <input type="text" id="txtNuevaClave" placeholder="Nueva Contraseña" />
            <input type="text" id="txtConfirmarClave" placeholder="Confirmar Contraseña" />
            <button type="submit" id="claveButton">Guardar</button>
            <div class="shadow">
                <p id="txtalerta" class="text-center shadow" style="margin-top:1em;"></p>
            </div>
        </form>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#formToken").hide()
        $("#formClave").hide()
    })

    function ValidMail() {

        var param = {
            mail: $("#txtCorreo").val()
        }

        $.ajax({            
            url: '@Url.Action("ValidMail")',
            type: 'POST',
            data: param,
            dataType: 'application/json; charset=utf-8',
            success: function (Data) {
                if (Data === "0") {
                    Swal.fire(
                        'No existe ningun usuario con este correo electronico favor verificar',
                        'Click aqui↓',
                        'danger'
                    ).then(function () {
                        
                    });
                    //$("#txtalertaToken").text("No existe ningun usuario con este correo electronico favor verificar").css("color", "red")
                }
            },
            error: function (e) {
                Swal.fire(
                   e,
                    'Click aqui↓',
                    'danger'
                )
            }
        })
    }

</script>
