﻿
@{
    ViewBag.Title = "CargaPoliza";
}

<script src="https://unpkg.com/read-excel-file@4.x/bundle/read-excel-file.min.js"></script>

<div class="container-fluid">
 
        <div class="row">
            <div class="form-group">
                <input type="file" id="dataFile" name="upload" />
            </div>
            <div class="col-12">
                <button class="btn btn-outline-success w-25" id="btnImportar">Importar Pólizas</button>

            </div>

        </div>


</div>

@section Scripts{
    <script>

        $(document).ready(function () {

            $("#btnImportar").on('click', function () {
                
                ImportPoliza();
            });

        });

        function ImportPoliza() {

            var fileUpload = $("#dataFile").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            $("#modal").show();
            $.ajax({
                url: 'ImportPoliza',
                type: 'POST',
                contentType: false,
                processData: false,
                data: fileData,
                success: function (response) {
                    $("#modal").hide();
                    m = response
                    if (m == "1") {
                        Swal.fire(
                            'Cargadas correctamente',
                            'Click aqui↓',
                            'success'
                        ).then(function () {
                            
                        window.location.reload();
                        });
                    }
                    else {
                        Swal.fire(
                            'Hubo un error',
                            'Click aqui↓',
                            'error'
                        ).then(function () {

                            window.location.reload();
                        });
                       
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#modal").hide();
                    window.location.reload();
                    alert("Respuesta = " + XMLHttpRequest.responseText + "\n Estatus = " + textStatus + "\n Error = " + errorThrown, "Error: Guardando Informacion");
                }

            });
        }






    </script>
}

