﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}



.datos {
    margin-top: -28px;
}

.folder:hover {
    cursor: pointer;
    position: static;
    height: 49px;
    width: 49px;
}

.folder {
    cursor: pointer;
    position: static;
    height: 45px;
    width: 45px;
}

.form-check {
    margin-left: -7px;
}

#radio1, #radio2, #radio3, #fechareg {
    margin-left: 25px;
    float: left;
}

#btn1 {
    margin-left: 15px;
}

text {
    font-display: fallback;
    margin-top: 7px;
    float: left;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
    position: initial;
}

.label {
    color: white;
    padding: 8px;
    font-family: Calibri;
}

.success {
    background-color: #4CAF50;
    border-radius: 15px;
}
/* Green */
.info {
    background-color: #2196F3;
    border-radius: 15px;
}
/* Blue */
.warning {
    background-color: #ff9800;
    border-radius: 15px;
}
/* Orange */
.danger {
    background-color: #f44336;
    border-radius: 15px;
}
/* Red */
.other {
    background-color: #e7e7e7;
    color: black;
    border-radius: 15px;
}
/* Gray */


.logo{
    width:160px;
    height:60px;
}

