﻿@model SmartSys.Models.TBL_Usuario

@{
    ViewBag.Title = "Login";
    Layout = null;
}
<script src="~/Plantilla/plugins/jquery/jquery.min.js"></script>
<link href="~/Content/LoginCSS.css" rel="stylesheet" />
<script src="~/Scripts/LoginScripts/LoginJS.js"></script>

<style>
    .forgot {
        margin-top: -20px;
        text-align: right;
        margin-bottom: 20px;
    }
</style>

<div class="wrapper">
    <div class="container">

        @using (Html.BeginForm("Login", "Acceso", FormMethod.Post,
        new { enctype = "multipart/form-data" }))
        {
            <img src="~/Plantilla/dist/img/Logo Ros.png" alt="Alternate Text" style="width:231px" />
            <input id="txtnombre" type="text" placeholder="Usuario" name="Usuario">
            <input id="txtcontrasena" type="password" name="contraseña" placeholder="Contraseña">

            <button type="submit" id="login-button">Login</button>
            <a href="/Home/RecuperarContraseña" class="btn" onclick="$('#ModalOlvideContraseña').show()" style="margin-top:9%; position:absolute; left:46%;text-decoration-line: unset;color:floralwhite">Olvide mi contraseña</a>
            <br />

            <div class="shadow">
                <p id="txtalerta" class="text-center shadow" style="margin-top:3em"> @ViewBag.mensaje</p>
            </div>

        }
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="img-fluid">

    </div>
</div>
   


<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script>

    $('#txtalerta').empty();
    $("#login-button").click(function (event) {

        event.preventDefault();
        @Url{

        }
        $('form').fadeOut(500);
        $('.wrapper').addClass('form-success');
        $('#txtalerta').change(function () {
            $('#txtnombre').select('');
        });


    });
</script>
                //# sourceURL=pen.js
