﻿@model SmartSys.Models.TBL_Visita

@{
    ViewBag.Title = "CreateVisita";
}

<div class="container-fluid shadow overflow-auto">
    <form method="POST" id="formCrearVisita" action="" class="needs-validation" novalidate style="padding:50px;width: 85%;">
        @*@using (Html.BeginForm("CreateVisita", "Visita"))
        {*@
        <input type="hidden" id="VisitaNumero" value="@ViewBag.VisitaNum" />

        <div class="form-row">

            <div class="form-group col-md-6">
                <label class="col-12" for="Cliente">*Entidad</label>
                <input type="hidden" name="Cliente" id="idCliente" value="" />
                <select id="Cliente" class="form-control col-10 SelectCliente required">
                    <option></option>
                </select>
                @*<input type="text" class="form-control col-10 required" id="Cliente" name="" onkeypress="return pulsar(event)" placeholder="Buscar..." autocomplete="off">
        <ul id="result_Cliente" class="list-group" style="position:absolute;max-height:350px;z-index:1;width:415px; overflow:auto"></ul>*@
            </div>
            <div class="form-group col-md-6">
                <label for="idMovivoVisita">*Motivo Visita</label>
                @Html.DropDownList("Motivo", null, new { @class = "form-control select-normal col-10 required" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="idContactoVisita">*Contacto de la Visita</label>
                <input type="text" class="form-control col-10 required" id="ID_Contacto" onkeypress="return /[a-z,-/ ]/i.test(event.key)" name="ID_Contacto" placeholder="" required>
            </div>
            <div class="form-group col-md-6">
                <label class="" for="idLugarReunion">*Lugar de la Reunión</label>
                <textarea class="form-control col-10 required" id="idLugarReunion" name="Direccion" required></textarea>
            </div>
        </div>
        <br />
        <hr class="bg-black left" style=" box-shadow: 2px 1px 6px #000;" />
        <br />
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="idFechaInicio">*Fecha</label>
                <input type="date" class="form-control datepickerhtml col-6 required" onkeypress="return pulsar(event)" id="idFechaInicio" name="Fecha_Inicio_visita" onblur="validDateTime(this.value,this)" placeholder="">
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="" for="idHoraInicio">*Hora Inicio Visita</label>
                <input type="time" class="form-control col-6 required" onkeypress="return pulsar(event)" id="idHoraInicio" name="idHoraInicio">
            </div>
            <div class="form-group col-md-6">
                <label class="" for="idHoraFin">*Hora Fin Visita</label>
                <input type="time" class="form-control col-6 required" onkeypress="return pulsar(event)" id="idHoraFin" name="idHoraFin">
            </div>
            @*<div class="form-group col-md-3">
                <label class="" for="idHoraRealizada">Hora Visita Realizada</label>
                <input type="text" class="form-control" id="idHoraRealizada" name="idHoraRealizada" data-inputmask='"mask": "99:99:99"' data-mask>
            </div>*@
        </div>
        <br />
        <hr class="bg-black left" style=" box-shadow: 2px 1px 6px #000;" />
        <br />
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="" for="idAsunto">*Asunto</label>
                <textarea class="form-control col-10 required" id="idAsunto" name="Asunto" required></textarea>
            </div>
            @*<div class="form-group col-md-6">
                <label class="" for="idComentarioCierre">Comentario de Cierre</label>
                <textarea class="form-control" id="idComentarioCierre" name="idComentarioCierre"></textarea>
            </div>*@
            <div class="form-group col-md-6">
                <label class="" for="idComentarioGen">Comentario</label>
                <textarea class="form-control col-10" id="idComentarioGen" name="Comentario"></textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="col-12" for="idAsunto">*Responsable</label>
                <select id="Responsable" class="form-control col-10 SelectResponsable required">
                    <option></option>
                </select>
                @*<input type="hidden" name="Responsable" id="idResponsable" value="" />
        <input type="text" class="form-control col-10 required" onkeypress="return pulsar(event)" id="Responsable" name="" placeholder="Buscar..." autocomplete="off" required>
        <ul id="result_Responsable" class="list-group" style="position:absolute;max-height:350px;z-index:1;width:415px; overflow:auto"></ul>*@
            </div>
        </div>

        <br />
        <hr class="bg-black left" style=" box-shadow: 2px 1px 6px #000;" />
        <br />
        <input type="text" hidden id="Integrantes" name="Nombre_Integrante" />
        <div class="form-row">
            <div class="col-md-12">
                <label for="IntegranteExt">Integrantes Externos</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control col-12"  onkeypress="return /[a-z, ]/i.test(event.key)" id="IntegranteExt" name="" placeholder="" autocomplete="off">

            </div>
            </div>
        <br />
            <div class="form-row">

         
                <div class="col-md-12">
                    <label for="searchIntegrante">Integrantes</label>
                </div>
                <div class="col-md-5">
                    <select id="Integrante" class="form-control col-10 SelectIntegrante required">
                        <option></option>
                    </select>
                    @*<input type="text" class="form-control col-12" onkeypress="return pulsar(event)" onkeyup="deleteValue(this)" id="searchIntegrante" name="" placeholder="Buscar..." autocomplete="off">
        <ul id="resultIntegrantes" class="list-group" style="position:absolute;max-height:350px;z-index:1;width:400px; overflow:auto"></ul>*@
                </div>
                <div class="col-md-2">
                    <input id="BotonAgregar" type="button" class="btn btn-dark add-row" value="Agregar">
                </div>

            </div>
            &nbsp;
            <table id="TableIntegrantes" class="table" width="100%">
                <thead class="thead-dark">
                    <tr>                     
                        <th>
                            Integrantes
                        </th>
                        <th>
                            ...
                        </th>
                    </tr>
                </thead>
                <tbody id="tbodyIntegranteCrear"></tbody>
            </table>
            <div class="bg-dark">
                <button class="btn btn-success btnfloat"
                        style="
            position: fixed;
             width:100px;
            bottom: 50%;
            right: 40px;
            text-align: center;
            box-shadow: 2px 2px 3px #999;" id="guardarvisita">
                    Guardar
                </button>
                <a class="btn btn-info btnfloat" href="#"
                   style="
            position: fixed;
            width:100px;
            bottom: 42%;
            right: 40px;
            text-align: center;
            box-shadow: 2px 2px 3px #999;" onclick="CleanForms('formCrearVisita')">Limpiar</a>
                <a class="btn btn-primary btnfloat" href="Index"
                   style="
            position: fixed;
             width:100px;
            bottom: 34%;
            right: 40px;
            text-align: center;
            box-shadow: 2px 2px 3px #999;">Volver</a>
            </div>


    </form>

    </div>

<style>
    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>

