﻿@model IEnumerable<SmartSys.Models.ViewModels.VMEventVisita>

@{
    ViewBag.Title = "Index";
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>


</script>

<!-- Content Wrapper. Contains page content -->


<div class="container-fluid">
    <div class="row justify-content-end">
        <a href="/Home/Index" class="btn btn-primary "><i class="fas fa-reply"></i> Volver</a>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-md-3">
            <div class="col-md-12">
                <a href="CreateVisita" class="btn btn-dark"><i class="far fa-calendar-plus"></i> Crear Visita</a>

            </div>
            &nbsp;
            <div class="col-md-12">
                <a href="#" id="btnGenerarReport" class="btn btn-secondary"><i class="fas fa-download"></i> Generar Reporte</a>
            </div>
            &nbsp;
            <div class="col-md-12">
                <a href="#" class="btn btn-dark"  data-toggle="modal" data-target="#ModalCargaMasiva"><i class="fas fa-cloud-upload-alt"></i> Carga Masiva</a>
                @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Launch demo modal
                </button>*@
            </div>
            <br />
            <div class="sticky-top mb-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Estados de Visita</h4>
                    </div>
                    <div class="card-body">
                        <!-- the events -->
                        <div id="external-events">
                            <div class="external-event bg-success" style="box-shadow:none !important; cursor:default !important ">Completada</div>
                            <div class="external-event bg-warning" style="box-shadow:none !important; cursor:default !important">Pospuesta</div>
                            <div class="external-event bg-primary" style="box-shadow:none !important; cursor:default !important">Programada</div>
                            <div class="external-event bg-danger" style="box-shadow:none !important; cursor:default !important">Vencida</div>

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

        </div>

        <!-- /.col -->
        <div class="col-md-9">
            <div class="card card-primary">
                <div class="card-body p-0">
                    <!-- THE CALENDAR -->
                    <div id="calendar"></div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->
<!-- /.content -->
<!-- /.content-wrapper -->
<!-- Modal -->
<div class="modal fade" id="ModalDetalle" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 80%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle Visita</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div id="divBotonesDetalle" class="row justify-content-center">
                        <a href="#" id="botonCompletar" onclick="editarVisita(this.id)" class="btn btn-success">Completar Visita</a>&nbsp;
                        <a href="#" id="botonEditar" onclick="editarVisita(this.id)" class="btn btn-dark">Editar Visita</a>&nbsp;
                        <a href="#" id="botonPosponer" onclick="editarVisita(this.id)" class="btn btn-danger">Posponer Visita</a>&nbsp;
                    </div>

                    &nbsp;
                    <input type="text" hidden name="ID_Visita" class="idvisita" />
                    <input type="text" hidden name="ID_Motivo" id="ID_Motivo" class="" />
                    <form action="/" class="formulario" method="post" id="formDetalle">
                        <div class="row">
                            <div class="col-md-6">
                                <span for="motivo" class="sizaspan col-sm-auto col-form-label  text-black-100 rounded">Motivo:</span>
                                <div class="col-sm-auto">
                                    <label id="motivo" class="form-control colorlbl"></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span for="dDireccion" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Contacto:</span>
                                <div class="col-sm-auto">
                                    <textarea type="text" id="contacto" class="form-control colorlbl col-12" style="font-weight: bold; resize:none;overflow:auto" readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span for="dEmail" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Estado:</span>
                                <div class="col-sm-auto">
                                    <label id="estado" class="form-control colorlbl"></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span for="dIdentidad" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Usuario Creador:</span>
                                <div class="col-sm-auto">
                                    <label id="usuarioc" class="form-control colorlbl"></label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <span for="dFechaCreacion" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Asunto:</span>
                                <div class="col-sm-auto">
                                    <textarea type="text" id="asunto" class="form-control colorlbl col-12" style="font-weight: bold; resize:none;overflow:auto" readonly></textarea>
                                    @*<label id="asunto" class="form-control colorlbl"></label>*@
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span for="fecha" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Fecha:</span>
                                <div class="col-sm-auto">
                                    <label id="fecha" class="form-control colorlbl"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <span for="dFechaCreacion" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Hora Inicio:</span>
                                <div class="col-sm-auto">
                                    <label id="horaInicio" class="form-control colorlbl"></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span for="dFechaCreacion" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Hora Fin:</span>
                                <div class="col-sm-auto">
                                    <label id="horaFin" class="form-control colorlbl"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <span for="dUsuario_Creador" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Lugar:</span>
                                <div class="col-sm-auto">
                                    <textarea id="lugar" class="form-control colorlbl col-12" style="font-weight: bold;resize:none;overflow:auto" readonly></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span for="dFechaCreacion" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Comentario:</span>
                                <div class="col-sm-auto">
                                    <textarea id="comentario" class="form-control colorlbl col-12" style="font-weight: bold;resize:none;overflow:auto" readonly></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span for="dFechaCreacion" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Responsable:</span>
                                <div class="col-sm-auto">
                                    <label id="Responsable" class="form-control colorlbl"></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span for="Cliente" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Entidad:</span>
                                <div class="col-sm-auto">
                                    <input id="ClienteId" type="hidden" value="" />
                                    <label id="Cliente" class="form-control colorlbl"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="lblIntegrantes">
                            <div class="col-md-12">
                                @*<span for="dFechaCreacion" class="sizaspan col-sm-auto col-form-label  text-black-100 rounded">Integrantes:</span>*@
                                &nbsp;
                                <table id="tableIntegrantes" class="table table-bordered">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>ID</th>
                                            <th>Integrante</th>
                                        </tr>
                                    </thead>
                                    <tbody id="integrantesList"></tbody>
                                </table>
                            </div>
                        </div>

                    </form>
                    @* Inicio Formulario editar *@
                    <form action="EditarVisita" method="post" class="needs-validation" novalidate id="formEditar">
                        <input type="text" hidden name="ID_Visita" id="idVisitaEditar" />
                        <div class="row justify-content-end">
                            <a href="#" id="botonVolverEditar" class="btn btn-danger" onclick="editarVisita(this.id)">Cancelar</a>
                        </div>
                        &nbsp;
                        <div class="row">
                            <div class="col-md-6">
                                <span for="editmotivo" class="sizaspan col-sm-auto col-form-label  text-black-100 rounded">Motivo:</span>
                                <div class="col-sm-auto">
                                    @Html.DropDownList("Motivo", null, new { @class = "form-control select-normal required", @id = "editmotivo" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span for="editcontacto" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Contacto:</span>
                                <div class="col-sm-auto">
                                    <input class="form-control required" type="text" name="ID_Contacto" value="" id="editcontacto" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <span for="editlugar" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Lugar:</span>
                                <div class="col-sm-auto">
                                    <textarea class="form-control required" name="Direccion" id="editlugar"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span for="editCliente" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Entidad:</span>
                                <div class="col-sm-auto">
                                    @*<input class="form-control required" type="text" name="" value="" id="editCliente" />*@
                                    <select id="editCliente" class="form-control col-10 SelectClienteMEdit required">
                                        <option></option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <span for="editAsunto" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Asunto:</span>
                                <div class="col-sm-auto">
                                    <textarea class="form-control required" id="editAsunto" name="Asunto"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span for="editComentario" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Comentario:</span>
                                <div class="col-sm-auto">
                                    <textarea class="form-control" id="editComentario" name="Comentario"></textarea>
                                </div>
                            </div>
                        </div>
                        <br />
                        <hr class="bg-black left" style=" box-shadow: 2px 1px 6px #000;" />
                        <br />
                        @*<div class="form-row">
                                <div class="col-md-12">

                                    <span for="editComentario" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Integrantes:</span>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control col-md-12" id="ResponsableEditar" onkeypress="return pulsar(event)" onkeyup="deleteValue(this)" name="searchResponsable" placeholder="Buscar..." autocomplete="off">
                                    <ul id="resultResponsableEditar" class="list-group" style="position:absolute;max-height:350px;z-index:1;width:400px; overflow:auto"></ul>
                                </div>
                                <div class="col-md-2">
                                    <input id="AddIntegrante" type="button" class="btn btn-dark add-rowEdit" value="Agregar">
                                </div>
                                <div class="col-md-4"></div>
                            </div>*@
                        <div class="form-row">


                            <div class="col-md-12">
                                <label for="IntegranteEdit">Integrantes</label>
                            </div>
                            <div class="col-md-5">
                                <select id="IntegranteEdit" class="form-control col-10 SelectIntegranteEdit ">
                                    <option></option>
                                </select>
                                @*<input type="text" class="form-control col-12" onkeypress="return pulsar(event)" onkeyup="deleteValue(this)" id="searchIntegrante" name="" placeholder="Buscar..." autocomplete="off">
                                    <ul id="resultIntegrantes" class="list-group" style="position:absolute;max-height:350px;z-index:1;width:400px; overflow:auto"></ul>*@
                            </div>
                            <div class="col-md-2">
                                <input id="BotonAgregarEdit" type="button" class="btn btn-dark add-rowEdit" value="Agregar">
                            </div>

                        </div>
                        &nbsp;
                        <table id="TableIntegrantesEdit" class="table" width="100%">
                            <thead class="thead-dark">
                                <tr>
                                    <th>
                                        Integrantes
                                    </th>
                                    <th>
                                        ...
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbodyEdit"></tbody>
                        </table>

                        &nbsp;
                        <div>
                            <button type="submit" id="buttonSaveEditar" class="btn btn-success col-md-12">Guardar Cambios</button>
                        </div>
                    </form>
                    @* Inicio de formulario completar *@
                    <form id="formCompletar" class="formulario needs-validation" action="CompletarVisita" novalidate method="post">
                        <input type="text" hidden name="ID_Visita" id="idVisitaCompletar" />
                        <div class="row justify-content-end">
                            <a href="#" id="botonVolverCompletar" class="btn btn-danger" onclick="editarVisita(this.id)">Cancelar</a>
                        </div>
                        &nbsp;
                        <div class="row">
                            <div class="col-md-4">
                                <span for="realComentarioCierre" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Comentario Cierre:</span>
                                <div class="col-sm-auto">
                                    <textarea class="form-control required" id="realComentarioCierre" name="Comentario_cierre" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <span for="realHoraRealizada" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Hora Realizada:</span>
                                <div class="col-sm-auto">
                                    <input type="time" class="form-control required" id="realHoraRealizada" required name="HoraRealizada">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <span for="realFechaRealizada" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Fecha Realizada:</span>
                                <div class="col-sm-auto">
                                    <input type="date" class="form-control datepickerhtml required" id="realFechaRealizada" name="Fecharealizada" placeholder="" required>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                        <div>
                            <button type="submit" id="buttonSaveCompletar" class="btn btn-success col-md-12">Guardar Cambios</button>
                        </div>
                    </form>
                    @* Inicio formulario posponer *@
                    <form id="formPosponer" class="formulario needs-validation" action="PosponerVisita" novalidate method="post">
                        <input type="text" hidden name="ID_Visita" id="idVisitaPosponer" />
                        <div class="row justify-content-end">
                            <a href="#" id="botonVolverPosponer" class="btn btn-danger" onclick="editarVisita(this.id)">Cancelar</a>
                        </div>
                        &nbsp;
                        <div class="row">
                            <div class="col-md-4">
                                <span for="pospFechaInicio" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Nueva Fecha:</span>
                                <div class="col-sm-auto">
                                    <input type="date" class="form-control datepickerhtml required" id="pospFechaInicio" name="Fecha_Inicio_visita" onblur="validDateTime(this.value,this)">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <span for="pospHoraInicio" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Nueva Hora Inicio:</span>
                                <div class="col-sm-auto">
                                    <input type="time" class="form-control required" id="pospHoraInicio" name="HoraInicio" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <span for="realHoraFin" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Nueva Hora Fin:</span>
                                <div class="col-sm-auto">
                                    <input type="time" class="form-control required" id="pospHoraFin" name="HoraFin" placeholder="" required>
                                </div>
                            </div>
                            @*<div class="col-md-4">
                                    <span for="realFechaFin" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Nueva Fecha Fin:</span>
                                    <div class="col-sm-auto">
                                        <input type="date" class="form-control" id="realFechaFin" name="Fecha_Fin_visita" placeholder="">
                                    </div>
                                </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span for="ComentarioPospuesta" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Comentario:</span>
                                <div class="col-sm-auto">
                                    <textarea class="form-control required" id="ComentarioPospuesta" name="Comentario_Pospuesta" required></textarea>
                                </div>
                            </div>
                        </div>

                        &nbsp;
                        <div>
                            <button type="submit" id="buttonSavePosponer" class="btn btn-success col-md-12">Guardar Cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalReporte" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Generar Reporte de Visitas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="formReporte" action="GenerarReporte" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <span for="fechaDesde" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Fecha Desde:</span>
                                <div class="col-sm-auto">
                                    <input type="date" class="form-control" id="fechaDesde" name="fechaDesde" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span for="fechaHasta" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Fecha Hasta:</span>
                                <div class="col-sm-auto">
                                    <input type="date" class="form-control" id="fechaHasta" name="fechaHasta">
                                </div>
                            </div>
                        </div>
                        &nbsp;
                        <div>
                            <button type="submit" id="buttonGenerarReporte" class="btn btn-success col-md-12">Buscar...</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="ModalView" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" style="max-width: 80%; height: 100%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Vista Completa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="textView" style="resize: none; height:100%;border: 6px solid rgba(0, 0, 0, 0.05);position: relative;outline: 0px !important;" readonly class="col-12"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalCargaMasiva" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 80%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Carga Masiva Visitas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">                

                    @* Inicio formulario carga masiva *@
                    <form id="" class="formulario needs-validation" action="" novalidate method="post">
                     
                        &nbsp;
                        <div class="row">

                            <div class="">
                                <img class="fa img-md ui-front" src="~/Plantilla/dist/img/Ros-escan.png" title="Cargar Documentos" />
                                <input type="file" class="col-10" id="ArchivoCarga">
                            </div>
                        </div>       
                        &nbsp;
                        <div>
                            <button type="submit" id="buttonCargaMasiva" class="btn btn-success col-md-12">Cargar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("RedirectTo", Url.Action("CreateMinuta", "Minuta"))
@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                Swal.fire('@ViewBag.Message',
                    'Click aqui↓',
                    'success'
                );
                window.location.href = "Visita/Index"

        };
        
    </script>
}
<style>
    .sizaspan {
        font-size: 20px;
    }

    .colorlbl {
        background-color: #dadee0;
        color: black;
    }

    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
