﻿
@{
    ViewBag.Title = "CreateForm";
}

<script src="~/Scripts/DigitalizacionScripts/Validaciones.js">
</script>

<div class="form-group dynamic-element" style="display:none">
    <div class="row">
        <div class="col-md-2"></div>
       
        <!-- Replace these fields -->
        @*<div class="col-md-4">
            <input type="text" class="form-control" name="" id="label" placeholder="Nombre del Campo" />

        </div>
        <div class="col-md-3">
            <select id="tipo" name="rol[]" class="form-control">
                <option selected disabled>Tipo de Campo</option>
                <option>Texto</option>
                <option>Texto Grande</option>
                <option>Fecha</option>
                <option>Lista</option>

            </select>
        </div>*@
        <!-- End of fields-->
        @*<div class="col-md-1">
            <p class="delete">x</p>
        </div>*@
    </div>
</div>
<!-- END OF HIDDEN ELEMENT -->

<div class="form-container">
    <form class="form-horizontal" id="formPlantilla">
        <fieldset>
            <!-- Form Name -->
            <legend class="title">Creacion de Plantilla</legend>

            <div class="dynamic-stuff">
                <table id="tableplantilla">
                    <tr>
                        <td style="position: relative;left: 228px;">
                            <input type="text" class="form-control" name="" id="label" placeholder="Nombre del Campo" />
                        </td>
                        <td style="position: relative;left: 230px;">
                            <select id="tipo" name="rol[]" class="form-control">
                                <option selected disabled>Tipo de Campo</option>
                                <option>Texto</option>
                                <option>Texto Grande</option>
                                <option>Fecha</option>
                                <option>Lista</option>

                            </select>
                        </td>
                        <td style="position: relative;left: 233px;top: 5px;">
                            <p class="delete">x</p>
                        </td>
                    </tr>
                    
                </table>
            </div>
            &nbsp;


            <!-- Button -->
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <p class="add-one">+ Añadir Control</p>
                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-6">
                        <button id="botonContinuar" name="singlebutton" class="btn btn-primary">Guardar Plantilla</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalNombrePlantilla" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" style="max-width: 60%; height: 34%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Vista Completa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="" class="needs-validation" action="" novalidate method="post">
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <span for="" class="sizaspan col-sm-auto col-form-label text-black-100 rounded">Nombre de la Plantilla:</span>
                            <div class="col-sm-auto">
                                <input type="text" class="form-control" name="" id="nombrePlantilla" placeholder="" />
                            </div>
                        </div>
                        &nbsp;
                        <div class="col-mb-6">
                            <button type="submit" id="botonGuardarPlantilla" class="btn btn-success col-md-6" style="width: 226px;">Guardar Plantilla</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .form-container {
        padding: 10px;
        padding-bottom: 25px;
        margin: 0 auto;
        width: 65%;
        border-radius: 20px;
        background-color: #ececec;
    }

    .add-one {
        color: green;
        text-align: center;
        font-weigth: bolder;
        cursor: pointer;
        margin-top: 10px;
    }

    .delete {
        color: white;
        background-color: rgb(231, 76, 60);
        text-align: center;
        margin-top: 6px;
        font-weight: 700;
        border-radius: 5px;
        min-width: 20px;
        cursor: pointer;
    }

    #singlebutton {
        width: 100%;
        margin-top: 20px;
    }

    .title {
        text-align: center;
        font-size: 40px;
        margin-bottom: 40px;
    }

    .dynamic-element {
        margin-bottom: 0px;
    }
</style>
@section Scripts{
    <script>
        $(document).ready(function () {

            //Clone the hidden element and shows it
            $('.add-one').click(function () {
                //$('.dynamic-element').first().clone().appendTo('.dynamic-stuff').show();
                let html = "";

                html += '<tr><td style="position: relative;left: 228px;"><input type="text" class="form-control" name="" id="label" placeholder="Nombre del Campo" /></td>';
                html += '<td style="position: relative;left: 230px;"><select id="tipo" name="rol[]" class="form-control"><option selected = "" disabled = "">Tipo de Campo</option><option>Texto</option><option>Texto Grande</option><option>Fecha</option><option>Lista</option></select ></td>';
                html += '<td style="position: relative;left: 233px;top: 5px;"><p class="delete" onclick="DeleteItemsTable(this)">x</p></td></tr>';
                $('.dynamic-element').show()
                $("#tableplantilla").append(html);
           
            });
        })
        $('#botonGuardarPlantilla').on('click', function (e) {
            e.preventDefault();
            savePlantilla();
            $('#ModalNombrePlantilla').modal('hide');
        });

        $('#botonContinuar').on('click', function (e) {
            e.preventDefault();
            $('#ModalNombrePlantilla').modal('show');
        });

        //Attach functionality to delete buttons
        function DeleteItemsTable(items) {
            var td = items.parentNode;
            var tr = td.parentNode; // the row to be removed
            tr.parentNode.removeChild(tr);
        }


    </script>
}