﻿
@{
    ViewBag.Title = "IndexDig";
}

<style>
        .container {
            max-width: 960px;
        }

        .navbar-survival101 {
            background-color: #2B6DAD;
        }
            /* .navbar-survival101 .navbar-brand {
      margin-right: 2.15rem;
      padding: 3px 0 0 0;
      line-height: 36px;
    } */

            .navbar-survival101 .navbar-brand img {
                vertical-align: baseline;
            }

        .navbar-expand-lg .navbar-nav .nav-link {
            color: #fff;
        }

        .search-box {
            position: relative;
            height: 34px;
        }

            .search-box input {
                border: 0;
                border-radius: 3px !important;
                padding-right: 28px;
                font-size: 15px;
            }

            .search-box .input-group-btn {
                position: absolute;
                right: 0;
                top: 0;
                z-index: 999;
            }

                .search-box .input-group-btn button {
                    background-color: transparent;
                    border: 0;
                    padding: 4px 8px;
                    color: rgba(0,0,0,.4);
                    font-size: 20px;
                }

                    .search-box .input-group-btn button:hover,
                    .search-box .input-group-btn button:active,
                    .search-box .input-group-btn button:focus {
                        color: rgba(0,0,0,.4);
                    }

        @@media (min-width: 992px) {
            .navbar-expand-lg .navbar-nav .nav-link {
                padding-right: .7rem;
                padding-left: .7rem;
            }

            .search-box {
                width: 300px !important;
            }
        }

        .caroulsel {
            width: 100%;
            overflow: hidden;
            padding: 5px 0 5px 5px;
        }

        .caroulsel-wrap {
            white-space: nowrap;
        }

            .caroulsel-wrap a {
                display: inline-block;
                width: 134px;
                height: 140px;
                margin-right: 20px;
            }
</style>

<div class="row justify-content-end">
    <a href="/Home/Index" class="btn btn-primary "><i class="fas fa-reply"></i> Volver</a>
</div>
    &nbsp;
<section class="caroulsel">
    <div class="caroulsel-wrap d-flex justify-content-center">
        <a href="/Digitalizacion/Scan" data-toggle='tooltip' data-placement='top' title='Registro De Expediente'><img class="img-fluid" src="~/Plantilla/dist/img/scan-.png" alt="Alternate Text" /></a>
        <a href="/Digitalizacion/Indexa" data-toggle='tooltip' data-placement='top' title='Indexar Documentos'><img class="img-fluid" src="~/Plantilla/dist/img/IndexIcon.png" alt="Alternate Text" /></a>
        <a href="/Digitalizacion/IndexConsulta" data-toggle='tooltip' data-placement='top' title='Consulta De Expedientes'> <img class="img-fluid" src="~/Plantilla/dist/img/IndexarIcon2.png" alt="Alternate Text" /></a>
        <a href="#" data-toggle='tooltip' data-placement='top' title='Creacion de Plantillas'><img class="img-fluid" src="~/Plantilla/dist/img/IconCreateForm.png" alt="Alternate Text" /></a>
    </div>

</section>