﻿@model IEnumerable<SmartSys.Models.Clases.BatchIndexado>

@{
    ViewBag.Title = "IndexConsulta";
}

<div class="justify-content-end">
    <a href="/Digitalizacion/IndexDig" class="btn btn-primary float-right"><i class="fas fa-reply"></i> Volver</a>

</div>

<div class="container-fluid  overflow-auto">

    <div class="row">

        <div class="col-12">
            <br />
            <table id="mytable" class="table table-striped table-condensed dataTables_scroll">
                <thead>
                    <tr>
                        <th>
                            Póliza
                        </th>
                        <th>
                            Titular
                        </th>
                        <th>
                            Dependiente
                        </th>
                        <th>
                            Tipo De Documento
                        </th>
                        <th>
                            Fecha de Registro
                        </th>
                        <th>
                            No.Documento
                        </th>
                        <th>
                            Identificador
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Poliza)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titular)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dependientes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoDoc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FecRegistro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NroDocumento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Identificador)
                        </td>
                        <td>
                            @*<a class="btn btn-warning" onclick="" data-toggle="modal" data-target="#modalEditExpediente">
                Editar
            </a>*@
                            <a class="btn btn-warning" onclick="getInfo('@item.IdIndex', 'Details');" data-toggle="modal" data-target="#modalDetalle">
                                Detalle
                            </a>
                        </td>
                        @*<td>
                <a asp-action="GetPDF" asp-route-id="@item.IdIndex" target="_blank">Ver Documento</a>
        </td>*@
                    </tr>
                    }
                </tbody>
            </table>


            <!-- The Modal -->
            <div class="modal fade" id="modalDetalle">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Digitalizacion Ros</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <dl>
                                        <dt><span for="Poliza" class="label success">Poliza</span></dt>
                                        <dd class="shadow"><p id="dPoliza" class="">Poliza</p></dd>
                                    </dl>
                                    <dl>
                                        <dt><span for="Cliente" class="label success">Cliente</span></dt>
                                        <dd class="shadow"><p id="dCliente" class="">Cliente</p></dd>
                                    </dl>
                                    <dl>
                                        <dt><span for="Aseguradora" class="label success">Aseguradora</span></dt>
                                        <dd class="shadow"><p id="dAseguradora" class="">Aseguradora</p></dd>
                                    </dl>
                                    <dl>
                                        <dt><span for="Titular" class="label success">Titular</span></dt>
                                        <dd class="shadow"><p id="dTitular" class="">Titular</p></dd>
                                    </dl>
                                    <dl>
                                        <dt><span for="Dependientes" class="label success">Dependientes</span></dt>
                                        <dd class="shadow"><p id="dDependientes" class="">Dependientes</p></dd>
                                    </dl>
                                    <dl>
                                        <dt><span for="Parentesco" class="label success">Parentesco</span></dt>
                                        <dd class="shadow"><p id="dParentesco" class="">Parentesco</p></dd>
                                    </dl>
                                    <dl>
                                        <dt><span for="Batch" class="label success">Batch</span></dt>
                                        <dd class="shadow"><p id="dBatch" class="">Batch</p></dd>
                                    </dl>
                                    <dl>
                                        <dt><span for="TipoDoc" class="label success">TipoDoc</span></dt>
                                        <dd class="shadow"><p id="dTipoDoc" class="">TipoDoc</p></dd>
                                    </dl>
                                    <dl>
                                        <dt><span for="NroReclamo" class="label success">NroDocumento</span></dt>
                                        <dd class="shadow"><p id="dNroDocumento" class="">NroDocumento</p></dd>
                                    </dl>
                                    <dl>
                                        <dt><span for="FecRegistro" class="label success">FecRegistro</span></dt>
                                        <dd class="shadow"><p id="dFecRegistro" class="">FecRegistro</p></dd>
                                    </dl>
                                </div>
                                <div class="col-sm-8">
                                    <iframe src="" class="pdfview img-responsive" style="height:700px; width:700px; margin-top:-10px;"></iframe>
                                </div>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEditExpediente">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Editar Expediente</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST" id="formEditarExpediente" action="" class="needs-validation " novalidate style="padding:50px;width: 85%;">

                    <div class="form-row">

                        <div class="form-group col-md-12">
                            <label class="" for="Cliente">*Poliza:</label>
                            <input class="form-control col-8 required" disabled id="txtpoliza2" />
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-12">
                            <label for="idMovivoVisita">Aseguradora:</label>
                            <input class="form-control col-12 required" disabled id="txtaseguradora" style="width:80em" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="" for="Cliente">Tilutar:</label>
                            <input class="form-control col-12 required" disabled id="txtcliente2" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="idMovivoVisita">Dependientes:</label>
                            <input class="form-control col-12 required" id="txtdependientes" style="width:80em" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="" for="Cliente">Batch:</label>
                            <input class="form-control col-12 required" disabled id="txtbatch2" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="idMovivoVisita">Parentesco:</label>
                            <input class="form-control col-12 required" id="txtparentesco" style="width:80em" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="" for="Cliente">Tipo Documento:</label>
                            <select class="form-control col-12 required" id="txttipodocumento">
                                <option id="0">Endoso</option>
                                <option id="1">Formulario afiliación</option>
                                <option id="2">Carné SM</option>
                                <option id="3">Carné FM</option>
                                <option id="4">Análisis renovación</option>
                                <option id="5">Reclamo</option>
                                <option id="6">Cheque</option>
                                <option id="7">Completivo reclamo</option>
                                <option id="8">Condiciones aceptación </option>
                                <option id="9">Contrato</option>
                                <option id="10">Formulario debida diligencia </option>
                                <option id="11">Cotización</option>
                                <option id="12">Minuta</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="idMovivoVisita">No.Reclamo:</label>
                            <input class="form-control col-12 required" id="txtnoreclamo" style="width:80em" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <style>
        dd {
            position: relative;
            top: 5px;
        }

        .success {
            font-size: small;
        }

        p {
            font-size: small;
        }
    </style>

    @section Scripts{
        <script>
            $(document).ready(function () {
                $('#mytable').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                    }
                });
            });

            function getInfo(id, action) {
                $.ajax({
                    type: "GET",
                    url: action,
                    data: { id },
                    success: function (response) {
                        mostrarDoc(response);
                        console.log(response);
                    }
                });
            };

            function getTipoDoc(id, action) {
                $.ajax({
                    type: "GET",
                    url: action,
                    data: { id },
                    success: function (response) {
                        $('#mytable').find('tr').each(function () {
                            $(this).find('td').eq(n).after('<td>' + response.tipoDoc + '</td>');
                        });
                    }
                });
            };

            function mostrarDoc(response) {
                val = response;
                $('#dBatch').text(val[0].Batch);
                $('#dPoliza').text(val[0].Poliza);
                $('#dCliente').text(val[0].Cliente);
                $('#dTipoDoc').text(val[0].TipoDoc);
                $('#dPathDoc').text(val[0].PathDoc);
                $('#dAseguradora').text(val[0].Aseguradora);
                $('#dTitular').text(val[0].Titular);
                $('#dDependientes').text(val[0].Dependientes != "" ? val[0].Dependientes : "-");
                $('#dParentesco').text(val[0].Parentesco != null ? val[0].Parentesco : "-");
                $('#dNroDocumento').text(val[0].NroDocumento != null ? val[0].NroDocumento : "-");
                $('#dFecRegistro').text(formatDateC(val[0].FecRegistro));
                //getPDF(val[0].idImagen, 'Digitalizacion/GetPDF') Url.Action("GetPDF","Digitalizacion", new { id =  })";
                $(".pdfview").attr("src", "../../Digitalizacion/GetPDF/" + val[0].IdImagen);
            };

            function formatDateC(fecha) {
                // format from M/D/YYYY to YYYYMMDD
                return (new Date(fecha).toJSON().slice(0, 10).split('-').reverse().join('-'));
            };


        </script>
    }
