﻿
@{
    ViewBag.Title = "Indexa";
}

<script src="~/Scripts/DigitalizacionScripts/DigitalizacionJS.js">
</script>

@*<div class="container-fluid shadow overflow-auto">
        <form method="POST" action="" id="" class="needs-validation" novalidate style="padding:50px;width: 85%;">
            <div class="form-row" id="">
                <div class="form-group col-md-12">
                    <label class="col-12" for="Cliente">Plantilla</label>
                    @Html.DropDownList("Plantilla", null, new { @class = "form-control col-8 select-normal ", @id = "PlantillaList" })
                </div>
            </div>
            <div class="dynamic-stuff">
                <table id="tableplantillacampos">
                    <tr>

                    </tr>

                </table>
            </div>
        </form>

    </div>*@

<div class="container-fluid  overflow-auto">
    <div class="row">
        <div class="col-4">
            <form method="POST" id="formIndexa" action="" class="needs-validation " novalidate style="padding:50px;width: 85%;">

                <div class="form-row">

                    <div class="form-group col-md-12">
                        <label class="" for="Cliente">*Póliza:</label>
                        <input class="form-control col-8 required" style="text-transform:uppercase" placeholder="DIGITE UNA PÓLIZA" id="txtpoliza2" />
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-12">
                        <label for="idMovivoVisita">Aseguradora:</label>
                        <input class="form-control col-12 required" id="txtaseguradora" style="width:80em" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="" for="Cliente">Titular:</label>
                        <input class="form-control col-12 required" id="txtcliente2" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="idMovivoVisita">Dependientes:</label>
                        <input class="form-control col-12" id="txtdependientes" style="width:80em" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="" for="Cliente">Batch:</label>
                        <input class="form-control col-12 required" id="txtbatch2" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="idMovivoVisita">Parentesco:</label>
                        @*<input class="form-control col-12 required" id="txtparentesco" style="width:80em" />*@
                        <select class="form-control col-12" id="txtparentesco" style="width:80em">
                            <option value="0" selected disabled>Seleccione</option>
                            <option value="Padre">Padre</option>
                            <option value="Madre">Madre</option>
                            <option value="Hijo/a">Hijo/a</option>
                            <option value="Esposo/a">Esposo/a</option>
                            <option value="Conyugue">Conyugue</option>
                            <option value="Suegro/a">Suegro/a</option>
                            <option value="Nuera">Nuera</option>
                            <option value="Yerno">Yerno</option>
                            <option value="Abuelo/a">Abuelo/a</option>
                            <option value="Hermano/a">Hermano/a</option>
                            <option value="Nieto/a">Nieto/a</option>
                            <option value="Cuñado/a">Cuñado/a</option>
                            <option value="Tio/a">Tio/a</option>
                            <option value="Sobrino/a">Sobrino/a</option>
                           
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="" for="Cliente">Tipo De Documento:</label>
                        <select class="form-control col-12 required" id="txttipodocumento">
                            <option value="0" selected disabled>Seleccione</option>
                            <option id="0">Endoso</option>
                            <option id="1">Formulario Afiliación</option>
                            <option id="2">Carné SM</option>
                            <option id="3">Carné FM</option>
                            <option id="4">Análisis Renovación</option>
                            <option id="5">Reclamo</option>
                            <option id="6">Cheque</option>
                            <option id="7">Completivo Reclamo</option>
                            <option id="8">Condiciones Aceptación </option>
                            <option id="9">Contrato</option>
                            <option id="10">Formulario Debida Diligencia </option>
                            <option id="11">Cotización</option>
                            <option id="12">Minuta</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="idMovivoVisita">No.Documento:</label>
                        <input class="form-control col-12 required" id="txtnoreclamo" style="width:80em" />
                    </div>
                </div>
            </form>
        </div>

        <div class="col-3">
                        <label style="margin-top:2em" for="Cliente">Lista de Documentos:</label>
                        <div class="list-group" id='file-list-displayIndexa' style="height: 32%;overflow:scroll">                            
                        </div>
        </div>

        <div class="col-4">
            <label style="margin-top:2em">Previsualización:</label>
            <div class="container-fluid">
                <div class="" style="margin-top:1em; width: 125%;">
                    <iframe id="imageIndexa" src="" style="width:100%; height:40em"></iframe>
                </div>
            </div>
        </div>
    </div>
    </div>

<div class="bg-dark">
    <button class="btn btn-info btnfloat"
       style="
            position: fixed;
            width:154px;
            bottom: 1%;
            left: 40%;
            text-align: center;
            box-shadow: 2px 2px 3px #999; z-index:3" id="btnconfirmaindexar" onclick="preindexarexp()">Indexar Expediente</button>
    @*<button class="btn btn-success btnfloat" 
       style="
            position: fixed;
             width:100px;
            bottom: 1%;
            left: 48%;
            text-align: center;
            box-shadow: 2px 2px 3px #999; id="btnfilanizar" onclick="cleantemp()" z-index:3">Finalizar</button>*@
    <a class="btn btn-primary btnfloat" href="IndexDig"
       style="
            position: fixed;
             width:100px;
            bottom: 1%;
            left: 52.7%;
            text-align: center;
            box-shadow: 2px 2px 3px #999;">Volver</a>
</div>
