﻿
@{
    ViewBag.Title = "Digitalizacion";
}

<!-- Page Content -->
<!----libreria de script-->
<head>

    <script src="~/Scripts/DigitalizacionScripts/DigitalizacionJS.js">

    </script>

    <!--modal style-->
    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
    </style>

</head>

@*@using (Html.BeginForm("uploadfile", "Digitalizacion", FormMethod.Post,
                                   new { enctype = "multipart/form-data" }))
    {*@

<div class="justify-content-end">
    <a href="/Home/Index" class="btn btn-primary float-right"><i class="fas fa-reply"></i> Volver</a>

</div>
<div class="container-fluid shadow overflow-auto" runat="server">

    <div class="row">

        <div class="col-5">
            <form name="formulario" id="formulario" style="padding:50px;width: 85%;">


                <div class="form-group">
                    <label>Poliza:</label>
                    <input id="txtpoliza" type="text" class="form-control" placeholder="Digite una poliza" maxlength="30" required />
                </div>
                <div class="form-group">
                    <label>Cliente:</label>
                    <input id="txtcliente" type="text" class="form-control" maxlength="30" disabled />
                </div>
                <div class="form-group">
                    <label>Batch:</label>
                    <input disabled id="txtBatch" type="text" class="form-control" />
                </div>
                @*<div class="form-group">
                        <table class="table-sm">
                            <tr>
                                <td>
                                    <i class="fa fa-compact-disc"></i>
                                    <input type="checkbox" id="Disco" />
                                    <label class="form-check-label">Guardar en disco</label>

                                    <i class="fas fa-server ml-2"></i>
                                    <input type="checkbox" id="Ordenador" />
                                    <label class="form-check-label">Guardar en db</label>
                                </td>

                            </tr>
                        </table>

                    </div>*@


                <div class="form-group">

                    <table class="form-group-sm">
                        <tbody>
                            <tr>
                                <td style="max-height:1em">
                                    <img class="fa img-md ui-front" src="~/Plantilla/dist/img/Ros-escan.png" title="Cargar Documentos" />

                                </td>

                                <td>
                                    <input type="file" name="file" id="file" class="privatefile" multiple />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <img class="fa img-md" src="~/Plantilla/dist/img/uploadfile.png" />
                                </td>
                                <td>
                                    <button id="btncargar" type="button" class="btn btn-default active">Cargar archivo</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img class="fa img-md" src="~/Plantilla/dist/img/Filesimg.png" />
                                </td>
                                <td>
                                    <button class="btn btn-default active" type="button" id="btnarchivo">Archivos Cargados</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img class="fa img-md" src="~/Plantilla/dist/img/search.png" />
                                </td>
                                <td>
                                    <a  class="btn btn-default active" href="/Digitalizacion/IndexConsulta" id="btnconsultaindex">Consulta Documentos indexados</a>
                               
                                </td>
                            </tr>
                        </tbody>

                    </table>


                </div>
                <div class="form-group">

                    <button id="btnRegistrar" type="button" class="btn btn-success col-sm-5" style="margin-top:3em">Registrar Expediente</button>
                    <button id="btnindexar" type="button" class="btn btn-success col-sm-5" style="margin-top:3em; margin-left:2em">Indexar Expediente</button>
                </div>
            </form>
        </div>
        <div class="col-6">
            <label style="margin-top:2em">Previsualizacion:</label>
            <div class="container-fluid">
                <div class="" style="margin-top:1em">
                    <iframe id="image" style="width:100%; height:25em">
                    </iframe>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- The Modal para ver archivos que estan guardados en temporal-->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <table id="mytable" class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        Nombre:
                    </th>
                    <th>
                        Info:
                    </th>
                    <th>
                        Tamaño
                    </th>
                    <th>
                        ...
                    </th>
                    <th>
                        Accion
                    </th>

                </tr>
            </thead>


            <!--this is the modal of the application-->
            <tbody id="modal-table-body">
            </tbody>
        </table>
    </div>

</div>

<!-- The Modal para indexar un archivo-->
<div id="RegModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span id="close2" class="close">&times;</span>
        <div id="tabblabox">
            <table id="mytable2" class="table table-striped table-condensed">

                <tr>
                    <th>
                        Poliza:
                    </th>
                    <th>
                        <input id="txtpoliza2" disabled />
                    </th>
                    <th>
                        Aseguradora:
                    </th>
                    <th>
                        <input id="txtaseguradora" style="width:80em" disabled />
                    </th>

                </tr>

                <tr>
                    <th>
                        Tilutar:
                    </th>
                    <th>
                        <input id="txtcliente2" style="width:80em" disabled>
                    </th>
                    <th>
                        Dependientes:
                    </th>
                    <th>
                        <input id="txtdependientes" />
                    </th>
                </tr>

                <tr>
                    <th>
                        Batch:
                    </th>
                    <th>
                        <input id="txtbatch2" disabled style="width:80em" />
                    </th>
                    <th>
                        Parentesco:
                    </th>
                    <th>
                        <input id="txtparentesco" />
                    </th>
                </tr>

                <tr>

                    <th>
                        Tipo Documento:
                    </th>
                    <th>
                        <select id="txttipodocumento">
                            <option id="0">Endoso</option>
                            <option id="1">Formulario afiliación</option>
                            <option id="2">Carné SM</option>
                            <option id="3">Carné FM</option>
                            <option id="4">Análisis renovación</option>
                            <option id="5">Reclamo</option>
                            <option id="6">Cheque</option>
                            <option id="7">Completivo reclamo</option>
                            <option id="8">Condiciones aceptación </option>
                            <option id="9">Contrato</option>
                            <option id="10">Formulario debida diligencia </option>
                            <option id="11">Cotización</option>
                            <option id="12">Minuta</option>
                        </select>
                    </th>
                    <th>
                        No.Reclamo:
                    </th>
                    <th>
                        <input id="txtnoreclamo" required />
                    </th>
                </tr>                
            </table>
        </div>
        <div class="form-group">
            <button id="btnconfirmaindexar" type="button" class="btn btn-success col-sm-5" style="margin-top:3em">Indexar</button>
            <button id="btnfilanizar" type="button" class="btn btn-success col-sm-5" style="margin-top:3em">Finalizar</button>
        </div>
    </div>

</div>




@*}*@

@*<script type="text/javascript">
        $(document).ready(function () {
            $("#formulario").keypress(function (e) {
                if (e.which == 13) {
                    return false;
                }
            });
        });
    </script>*@