﻿
@{
    ViewBag.Title = "Scan";
}


<!-- Page Content -->
<!----libreria de script-->
<head>

    <script src="~/Scripts/DigitalizacionScripts/DigitalizacionJS.js">

    </script>

    <!--modal style-->
    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
    </style>

</head>

@*@using (Html.BeginForm("uploadfile", "Digitalizacion", FormMethod.Post,
                                   new { enctype = "multipart/form-data" }))
    {*@

<div class="justify-content-end">
    <a href="/Digitalizacion/IndexDig" class="btn btn-primary float-right"><i class="fas fa-reply"></i> Volver</a>

</div>
<div class="container-fluid  overflow-auto" runat="server">

    <div class="row">

        <div class="col-5">
            <form name="formulario" id="formulario" style="padding:50px;width: 85%;">


                <div class="form-group">
                    <label>Póliza:</label>
                    <input id="txtpoliza" type="text" class="form-control" placeholder="Digite Una Póliza" maxlength="30" required style="text-transform:uppercase"/>
                </div>
                <div class="form-group">
                    <label>Cliente:</label>
                    <input id="txtcliente" type="text" class="form-control" maxlength="30" disabled />
                </div>
                <div class="form-group">
                    <label>Batch:</label>
                    <input disabled id="txtBatch" type="text" class="form-control" />
                </div>
                @*<div class="form-group">
                        <table class="table-sm">
                            <tr>
                                <td>
                                    <i class="fa fa-compact-disc"></i>
                                    <input type="checkbox" id="Disco" />
                                    <label class="form-check-label">Guardar en disco</label>

                                    <i class="fas fa-server ml-2"></i>
                                    <input type="checkbox" id="Ordenador" />
                                    <label class="form-check-label">Guardar en db</label>
                                </td>

                            </tr>
                        </table>

                    </div>*@
                <div class="form-group">
                    <input type="file" name="file" id="file" class="privatefile" multiple />
                    <br />
                    <div class="list-group-item" id="file-list-display" style="
    height: 226px;
    overflow: scroll;
">

                    </div>
                </div>

                <div class="form-group">

                    <button id="btnConsultaExp" type="button" class="btn btn-success col-sm-5" style="margin-top:3em">Consultar Expedientes</button>
                    @*<button id="btnRegistrarArch" type="button" class="btn btn-success col-sm-5" style="margin-top:3em; margin-left:2em; height:62px">Registrar Archivos</button>*@
                    <button id="btnRegistrarExp" type="button" class="btn btn-success col-sm-5" style="margin-top:3em">Registrar Expediente</button>
                </div>
            </form>
        </div>
        <div class="col-6">
            <label style="margin-top:2em">Previsualización:</label>
            <div class="container-fluid">
                <div class="" style="margin-top:1em">
                    <iframe id="image" style="width:100%; height:36em">
                    </iframe>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade bd-example-modal-xl" id="myModal" tabindex="3100" style="z-index:3100" role="dialog" data-backdrop="false" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" style="top: calc(25% - 300px);" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Detalle Expediente</h5>
                    <button type="button" class="close" id="closeConsulta" onclick="" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <div class="col-5">
                        <label style="margin-top:2em" for="Cliente">Lista de Documentos:</label>
                        <div class="list-group" id='file-list-displayScan' style="height: 23%;overflow:scroll">
                        </div>
                    </div>
                    <div class="col-6">
                        <label style="margin-top:2em">Previsualización:</label>
                        <div class="container-fluid">
                            <div class="" style="margin-top: 0em;width: 122%;height: 727px;">
                                <iframe id="imageConsultScan" src="" style="height: 73%;width: 98%;overflow:scroll;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>






@*<div id="myModal" class="modal">

    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="container-fluid shadow overflow-auto">
            <div class="row">
                <div class="col-5">
                    <label style="margin-top:2em" for="Cliente">Lista de Documentos:</label>
                    <div class="list-group" id='file-list-displayScan' style="height: auto;overflow:scroll">
                    </div>
                </div>
                <div class="col-6">
                    <label style="margin-top:2em">Previsualizacion:</label>
                    <div class="container-fluid">
                        <div class="" style="margin-top: 0em;width: 122%;height: 727px;">
                            <iframe id="imageConsultScan" src="" style="height: 73%;width: 98%;overflow:scroll;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>*@

<!-- The Modal para indexar un archivo-->
@*<div id="RegModal" class="modal">


        <div class="modal-content">
            <span id="close2" class="close">&times;</span>
            <div id="tabblabox">
                <table id="mytable2" class="table table-striped table-condensed">

                    <tr>
                        <th>
                            Poliza:
                        </th>
                        <th>
                            <input id="txtpoliza2" disabled />
                        </th>
                        <th>
                            Aseguradora:
                        </th>
                        <th>
                            <input id="txtaseguradora" style="width:80em" disabled />
                        </th>

                    </tr>

                    <tr>
                        <th>
                            Tilutar:
                        </th>
                        <th>
                            <input id="txtcliente2" style="width:80em" disabled>
                        </th>
                        <th>
                            Dependientes:
                        </th>
                        <th>
                            <input id="txtdependientes" />
                        </th>
                    </tr>

                    <tr>
                        <th>
                            Batch:
                        </th>
                        <th>
                            <input id="txtbatch2" disabled style="width:80em" />
                        </th>
                        <th>
                            Parentesco:
                        </th>
                        <th>
                            <input id="txtparentesco" />
                        </th>
                    </tr>

                    <tr>

                        <th>
                            Tipo Documento:
                        </th>
                        <th>
                            <select id="txttipodocumento">
                                <option id="0">Endoso</option>
                                <option id="1">Formulario afiliación</option>
                                <option id="2">Carné SM</option>
                                <option id="3">Carné FM</option>
                                <option id="4">Análisis renovación</option>
                                <option id="5">Reclamo</option>
                                <option id="6">Cheque</option>
                                <option id="7">Completivo reclamo</option>
                                <option id="8">Condiciones aceptación </option>
                                <option id="9">Contrato</option>
                                <option id="10">Formulario debida diligencia </option>
                                <option id="11">Cotización</option>
                                <option id="12">Minuta</option>
                            </select>
                        </th>
                        <th>
                            No.Reclamo:
                        </th>
                        <th>
                            <input id="txtnoreclamo" required />
                        </th>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <button id="btnconfirmaindexar" type="button" class="btn btn-success col-sm-5" style="margin-top:3em">Indexar</button>
            <button id="btnfilanizar" type="button" class="btn btn-success col-sm-5" style="margin-top:3em">Finalizar</button>

            </div>
        </div>

    </div>*@




@*}*@

@section Scripts{
<script type="text/javascript">
        $(document).ready(function () {
            $('#myModal').on('hidden.bs.modal', function (e) {
                $("#file-list-displayScan a").removeClass("active")
                $("#imageConsultScan").attr("src", "")
                $("#myModal").modal("hide")
            })
        });
    </script>
}
