﻿@model IEnumerable<Digitalizacion.Models.BatchIndexado>

<hr />

<table id="mytable" class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>
                Poliza
            </th>
            <th>
                Titular
            </th>
            <th>
                Dependiente
            </th>
            <th>
                Tipo De Documento
            </th>
            <th>
                Fecha de Registro
            </th>
            <th>
                Archivos
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Poliza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dependientes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FecRegistro)
                </td>
                <td>
                    <a class="" onclick="getInfo('@item.IdIndex', '/Home/Details');" data-toggle="modal" data-target="#modalDetalle">
                        <img src="~/images/my_documents.png" class="img img-responsive folder" />
                    </a>
                </td>
                @*<td>
                            <a asp-action="GetPDF" asp-route-id="@item.IdIndex" target="_blank">Ver Documento</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>


<!-- The Modal -->
<div class="modal fade" id="modalDetalle">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Digitalizacion Ros</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <dl>
                            <dt><span for="Poliza" class="label success">Poliza</span></dt>
                            <dd class="shadow"><p id="dPoliza" class="">Poliza</p></dd>
                        </dl>
                        <dl>
                            <dt><span for="Cliente" class="label success">Cliente</span></dt>
                            <dd class="shadow"><p id="dCliente" class="">Cliente</p></dd>
                        </dl>
                        <dl>
                            <dt><span for="Aseguradora" class="label success">Aseguradora</span></dt>
                            <dd class="shadow"><p id="dAseguradora" class="">Aseguradora</p></dd>
                        </dl>
                        <dl>
                            <dt><span for="Titular" class="label success">Titular</span></dt>
                            <dd class="shadow"><p id="dTitular" class="">Titular</p></dd>
                        </dl>
                        <dl>
                            <dt><span for="Dependientes" class="label success">Dependientes</span></dt>
                            <dd class="shadow"><p id="dDependientes" class="">Dependientes</p></dd>
                        </dl>
                        <dl>
                            <dt><span for="Parentesco" class="label success">Parentesco</span></dt>
                            <dd class="shadow"><p id="dParentesco" class="">Parentesco</p></dd>
                        </dl>
                        <dl>
                            <dt><span for="Batch" class="label success">Batch</span></dt>
                            <dd class="shadow"><p id="dBatch" class="">Batch</p></dd>
                        </dl>
                        <dl>
                            <dt><span for="TipoDoc" class="label success">TipoDoc</span></dt>
                            <dd class="shadow"><p id="dTipoDoc" class="">TipoDoc</p></dd>
                        </dl>
                        <dl>
                            <dt><span for="NroReclamo" class="label success">NroReclamo</span></dt>
                            <dd class="shadow"><p id="dNroReclamo" class="">NroReclamo</p></dd>
                        </dl>
                        <dl>
                            <dt><span for="FecRegistro" class="label success">FecRegistro</span></dt>
                            <dd class="shadow"><p id="dFecRegistro" class="">FecRegistro</p></dd>
                        </dl>
                    </div>
                    <div class="col-sm-8">
                        <iframe src="" class="pdfview img-responsive" style="height:700px; width:700px; margin-top:-10px;"></iframe>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<style>
    dd {
        position: relative;
        top: 5px;
    }

    .success {
        font-size: small;
    }

    p {
        font-size: small;
    }
</style>